<!DOCTYPE html>  

<html ng-app>
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="css/ui-darkness/jquery-ui.custom.min.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery.jqplot.min.css" />
	<link rel="stylesheet" type="text/css" href="css/Style.css" />
	<link rel="stylesheet" type="text/css" href="css/HUD.css" />
	
	<script type="text/javascript" src="js/jquery-latest.js"></script>
	<script type="text/javascript" src="js/jquery-ui-latest.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/flotr2.min.js"></script>
	<script type="text/javascript" src="js/jquery.jqplot.min.js"></script>
	<script type="text/javascript" src="js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
	<script type="text/javascript" src="js/plugins/jqplot.highlighter.min.js"></script>
	<script type="text/javascript" src="js/plugins/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
	<script type="text/javascript" src="js/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
	<script type="text/javascript" src="js/plugins/jqplot.enhancedLegendRenderer.min.js"></script>
	
	
	<script type="text/javascript" src="js/KeyDefinitions.js"></script>
	<script type="text/javascript" src="js/Common.js"></script>
	<script type="text/javascript" src="js/EntityEditor.js"></script>
	<script type="text/javascript" src="js/ContextButtons.js"></script>
	<script type="text/javascript" src="js/HUD.js"></script>
	<script type="text/javascript" src="js/Console.js"></script>
	<script type="text/javascript" src="js/Missions.js"></script>
	<script type="text/javascript" src="js/PerformanceMonitor.js"></script>
	<script type="text/javascript" src="js/SelectionHandling.js"></script>

</head>
<body>
	<div id="contextButtonMenu" class="panel" ng-controller="ContextButtonController">
		
		<div ng-repeat="button in buttons">
			<span id="{{button.$Name.replace(' ', '')}}" index="{{$index}}" call='hud.Build("{{button.$Name}}")' onClick="XNACall($(this));" class="button contextButton" style="background-image: url('{{button.$Image}}');"></span>
		</div>
		
	</div>
	
	<div id="modalOverlay"></div>
	
	<div id="selectonInfo" class="panel" ng-controller="SelectionInfoController">
		<div ng-switch="selectedUnitsView()">
			
			<div ng-switch-when="none">
				<div id="selectionTitle"></div>
			</div>
			
			<div ng-switch-when="one">
				<div id="selectionTitle">{{selectedUnits[0].EntityName.Name}}</div>
				<div ng-switch="has('HitPoints')"><div ng-switch-when="true">
					<span id="lblHealth" class="selectionLabel"></span>
					<div id="hitPointsProgressBar" class="selectionProgressBar">
						<span class="selectionProgressData">
							{{selectedUnits[0].HitPoints.Armour | number:0}} / {{selectedUnits[0].HitPoints.TotalArmour | number:0}}
						</span>
					</div>
				</div></div>
				
				<div ng-switch="isConstructing()"><div ng-switch-when="true">
					<span id="lblContructing" class="selectionLabel"></span>
					<div id="constructionProgressBar" class="selectionProgressBar">
						<span class="selectionProgressData">
							{{selectedUnits[0].Constructible.MineralsConstructed | number:0}} / {{selectedUnits[0].Constructible.Cost | number:0}}
						</span>
					</div>
				</div></div>
				
				<div ng-switch="has('PowerStorage')"><div ng-switch-when="true">
					<span id="lblPower" class="selectionLabel"></span>
					<div id="powerLevelProgressBar" class="selectionProgressBar">
						<span class="selectionProgressData">
							{{selectedUnits[0].PowerStorage.AvailablePower | number:0}} / {{selectedUnits[0].PowerStorage.MaxPower | number:0}}
						</span>
					</div>
				</div></div>
				
				<div ng-switch="has('Minable')"><div ng-switch-when="true">
					<span id="lblMinable" class="selectionLabel"></span>
					<div id="mineralsProgressBar" class="selectionProgressBar">
						<span id="minable" class="selectionProgressData">
							{{selectedUnits[0].Minable.Minerals | number:0}} / {{selectedUnits[0].Minable.StartingMinerals | number:0}}
						</span>
					</div>
				</div></div>
			</div>
			
			<div ng-switch-when="many">Multi-select is not implemented yet</div>
			
		</div>
	</div>
	
	
	<div id="resources" class="panel">
		<div><span id="minerals" class="data">0</span><span id="lblMinerals"></span></div>
	</div>
	
	
	<div id="gameMenu" class="modalPanel panel">
		<span class="btnResume button menuButton" onClick="SetPaused(false); XNACall('hud.ResumeGame()');">Resume Game</span>
		<span class="btnMainMenu button menuButton" call="hud.ForfeitGame();  xna.PopulateScenarioList();" onClick="XNACall($(this));">Main Menu</span>
		<span class="btnExit button menuButton" call="xna.Exit()" onClick="XNACall($(this));">Exit Game</span>
	</div>
	
	
	<div id="gameWin" class="modalPanel panel">
		<div class="modalTitle">You Win!</div>
		<span class="btnMainMenu button menuButton" call="hud.ForfeitGame(); xna.PopulateScenarioList();" onClick="XNACall($(this));">Main Menu</span>
		<span class="btnExit button menuButton" call="xna.Exit()" onClick="XNACall($(this));">Exit Game</span>
	</div>
	
	<div id="gameLost" class="modalPanel panel">
		<div class="modalTitle">You Lose</div>
		<span class="btnMainMenu button menuButton" call="hud.ForfeitGame(); xna.PopulateScenarioList();" onClick="XNACall($(this));">Main Menu</span>
		<span class="btnExit button menuButton" call="xna.Exit()" onClick="XNACall($(this));">Exit Game</span>
	</div>
	
	
	<div id="dialog" class="modalPanel panel">
		<div class="modalText"></div>
		<span class="btnResume button menuButton" onClick="SetPaused(false); XNACall('hud.ResumeGame()');">Ok</span>
	</div>
	
	
	<div id="pauseDisplay" class="panel">
		<span id="lblPaused">Game Paused</span>
	</div>
	
	
	<!--div id="radar" class="panel">
		<div id="radarContainer">
		</div>
	</div-->
	
	<div id="missions" class="panel" ng-controller="MissionController">
		<div ng-repeat="mission in missions">
			<div class="mission missionComplete{{mission.done}} ">{{mission.description}}</div>
		</div>
	</div>
	
	<div id="performanceGraphPanel" class="panel">
		<div id="performanceGraph"></div>
		<div id="performanceLegend"></div>
	</div>
	
	
	<div id="console" class="panel" ng-controller="ConsoleController">
		<div id="consoleWrap">
			<div id="history">
				
				<div class="consoleLine" ng-repeat="line in consoleLines">
					<span class="consoleID">{{line.username}}</span>
					<span class="consoleText">{{line.message}}</span>
					<span class="consoleTime">{{line.timestamp | date:'mediumTime'}}</span>
				</div>
				
			</div>
			<div id="consoleInputWrap">
				<form ng-submit="addConsoleMessage()">
					<input type=text id="consoleInput" ng-model="consoleInput">
				</form>
			</div>
		</div>
	</div>
	
	
	<div id="editorToggleButton"></div>
	<div id="editorPanel" class="panel"></div>
</body>
</html>



