

@import "HUDConstructionPanel.css";
@import "HUDInGameMenu.css";
@import "HUDSelectionInfo.css";
@import "HUDConsole.css";
@import "PerformanmceMonitor.css";


body
{
	margin: 0px;
	overflow: hidden;
}


.panel
{
	position: absolute;
	background-color: rgba(100, 100, 100, 0.7);
	border-color: #bbbbbb;
	border-width: 1px;
}


.panel:left
{
	border-radius: 0px 15px 15px 0px;
	border-style: solid solid solid none;
}


#resources
{
	left: 150px;
	top: 0px;
	
	/*height: 25px;
	width: 200px;*/
	
	padding: 0px;
	padding-right: 8px;
	padding-bottom: 3px;
	border-radius: 0px 0px 15px 15px;
	border-style: none solid solid solid;
}

.button
{
	background-color: rgba(40, 40, 40, 0.5);
	
	border-style: outset;
	border-width: 2px;
	border-color: #CCCCCC;
	
	margin: 5px;
	border-radius: 15px;
}

.button:hover
{
	background-color: rgba(70, 70, 70, 0.5);
}

/*.buttonPressed
{
	border-style: inset;
	background-position: 2px 2px;
}*/

.button:active
{
	border-style: inset;
	background-position: 2px 2px;
}


.button.disabled,.buttonPressed.disabled
{
	border-style: outset;
	background-position: 0px 0px;
	background-color: rgba(10, 10, 10, 0.9);
	-webkit-filter: grayscale;
	-webkit-filter: brightness(30%);
}


.buttonHoverTitle
{
	margin-top: 0px;
	margin-bottom: 10px;
}


#minerals
{
	padding: 10px;
}

#lblMinerals
{
	float: right;
	background-image: url("../images/Minerals.png");
	
	width: 20px;
	height: 20px;
}



#radar
{
	width: 200px;
	height: 200px;
}

#radarContainer
{
	width: 100px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0);
}


#timer
{
	right: 120px;
	top: 0px;
	
	/* font-size: x-large; */
	
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 3px;
	border-radius: 0px 0px 15px 15px;
	border-style: none solid solid solid;
}


#missions
{
	top: 80px;
	left: 0px;
	
	padding: 5px;
	
	border-radius: 0px 15px 15px 0px;
	border-style: solid solid solid none;
}


.mission:before
{
	content: "- ";
}

.missionCompletetrue
{
	text-decoration: line-through;
	font-style: italic;
}



#editorPanel
{
	position: absolute;
    display: block;
	
	top: 0px;
	right: 0px;
	bottom: 0px;
	
	width: 450px;
	
	padding: 5px;
	
	border-radius: 0px 0px 0px 0px;
	border-style: none none none solid;
	
	
	-moz-user-select: text;
	-webkit-user-select: text;
}

.editorLabel
{
	/*font-size: small;*/
}

#editorPanel
{
}

#editorToggleButton
{
	position: absolute;
    display: block;
    
    width: 10px;
    height: 100px;
    
    background-color: rgba(100, 100, 100, 0.7);
	border-color: #bbbbbb;
	border-width: 1px;
	
	border-radius: 5px 0px 0px 5px;
	border-style: solid none solid solid;
}

#modalOverlay
{
	display: none; /* start off hidden */
	
	top:0;
	left:0;
	height:100%;
	width:100%;
	position:fixed;
	z-index: 9999;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
}


