
#gameMenu
{
	display: none;
	
	left: 50%;
	top: 50%;
	/*height: 250px;*/
	width: 250px;
	
	/* margin values are half the height and width respectively */
	margin: -125px 0 0 -125px;
	
	padding: 0px;
	border-radius: 15px;
	border-style: solid solid solid solid;
	
	z-index: 9999;
}


#gameLost
{
	display: none;
	
	left: 50%;
	top: 50%;
	/*height: 250px;*/
	width: 250px;
	
	/* margin values are half the height and width respectively */
	margin: -125px 0 0 -125px;
	
	padding: 0px;
	border-radius: 15px;
	border-style: solid solid solid solid;
	
	z-index: 9999;
}


.modalText
{
	font-size: x-large;
	text-align: center;
	width: 100%;
}


#pauseDisplay
{
	font-size: x-large;
	text-align: center;
	
	left: 50%;
	top: -40px;
	width: 250px;
	
	-moz-transition: top 0.3s ease-in;
	-webkit-transition: top 0.3s ease-in;
	
	/* margin is half the width */
	margin-left: -125px;
	
	padding: 0px;
	border-radius: 0px 0px 15px 15px;
	border-style: none solid solid solid;
	
	z-index: 9999;
}

#pauseDisplay.paused
{
	top: 0px;
}

.button.menuButton
{
	float: left;
	font-size: x-large;
	text-align: center;
	
	width: 235px;
	height: 35px;
}

