

.button.contextButton
{
	float: left;
	width: 100px;
	height: 80px;
	
	background-repeat: no-repeat;
}

#contextButtonMenu
{
	left: 0px;
	bottom: 0px;
	
	width: 230px;
	
	/*display: inline-block;*/
	padding: 0px;
	border-radius: 0px 15px 0px 0px;
	border-style: solid solid none none;
}

