
#console
{
	position: fixed;
	width: 100%;
	/*display: block;*/
	
	font-size: small;
	text-shadow:0 1px 0 rgba(255,255,255,0.3);
	
	border-style: none none solid none;
	-moz-user-select: text;
	-webkit-user-select: text;
}

#history
{
	overflow: auto;
	
	height: 76px;
	max-height: 76px;
	
	background-color: rgba(70, 70, 70, 0.4);
}

.consoleID
{
	width: 50%;
	color: rgba(230, 230, 230, 0.6);
	font-weight: lighter;
}

.consoleID:after
{
	content: ": ";
}

.consoleLine:hover
{
	background-color: rgba(30, 30, 30, 0.8);
}

/*.consoleTime
{
	color: rgba(220, 220, 220, 0.6);
	float: right;
	margin-right: 5px;
	
	-moz-user-select: none;
	-webkit-user-select: none;
}*/

#consoleInputWrap
{
	height: 20px;
	padding-top: 5px;
}

#consoleInput
{
	width: 100%;
	padding: 0px;
	background-color: rgba(120, 120, 120, 0.8);
	color: #FFFFFF;
	border-style: none;
}

