
#selectonInfo
{
	left: 342px;
	bottom: 0px;
	
	height: 150px;
	width: 350px;
	
	padding: 0px;
	border-radius: 0px 15px 0px 0px;
	border-style: solid solid none none;
}

#selectionTitle
{
	padding: 5px;
	font-size: x-large;
}

.selectionLabel
{
	margin-left: 15px;
	margin-right: 5px;
	color: #AAAAAA;
}

#lblHealth
{
	padding-left: 20px;
	background-image: url("../images/HitPoints.png");
	background-size: 20px 20px;
}

#lblContructing
{
	padding-left: 20px;
	background-image: url("../images/Constructing.png");
	background-size: 25px 25px;
}

#lblUpgrading
{
	padding-left: 20px;
	background-image: url("../images/Constructing.png");
	background-size: 25px 25px;
}

#lblPower
{
	padding-left: 20px;
	background-image: url("../images/Power.png");
	background-size: 20px 20px;
}

#lblMinable
{
	padding-left: 20px;
	background-image: url("../images/Minerals.png");
	background-size: 20px 20px;
}

.selectionProgressBar
{
	width: 80%;
	height: 20px !important;
	display: inline-block;
	font-size: smaller !important;
}

.selectionProgressData
{
	left: 45%;
	position: absolute;
}

.ui-progressbar-value
{
	display: inline-block;
}


/* Override the spacing for the Entity Editor accordion headers */
.ui-accordion .ui-accordion-header
{
	padding: 0.1em 0.5em 0.1em 0.7em !important;
}
