

@import "HUDConstructionPanel.css";
@import "HUDInGameMenu.css";
@import "HUDSelectionInfo.css";
@import "HUDConsole.css";

.panel
{
	position: absolute;
	background-color: rgba(100, 100, 100, 0.7);
	border-color: #bbbbbb;
	border-width: 1px;
}


#resources
{
	left: 150px;
	top: 0px;
	
	height: 25px;
	/*width: 200px;*/
	
	padding: 0px;
	padding-right: 8px;
	border-radius: 0px 0px 15px 15px;
	border-style: none solid solid solid;
}

.button
{
	background-color: rgba(40, 40, 40, 0.5);
	
	border-style: outset;
	border-width: 2px;
	border-color: #CCCCCC;
	
	margin: 5px;
	border-radius: 15px;
}

.button:hover
{
	background-color: rgba(70, 70, 70, 0.5);
}

.buttonPressed
{
	border-style: inset;
	background-position: 2px 2px;
}



#minerals
{
	padding: 10px;
}

#lblMinerals
{
	float: right;
	background-image: url("images/Minerals.png");
	
	width: 20px;
	height: 20px;
}



